{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <section class="content-header">
      <h1>
        NUEVO VEHÍCULO
        <small>Generar nuevo </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-car"></i> Vehículos</a></li>
        <li class="active">Nuevo</li>
      </ol>
    </section>
      <div class="box">
          <div class="box-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-success" type="submit" value="Guardar" />
            {{ form_end(form) }}

              <a class="btn btn-primary" href="{{ path('vehiculo_index') }}"><i class="fa fa-bars"></i>&nbsp;Listado de Vehículos</a>
          </div>
      </div>
  </div>
{% endblock %}
